body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
  color: #b00b0b !important;
}

.nav-link:hover {
  color: #4065a4 !important;
  font-weight: 400;
  text-shadow: 0.5px 0.5px 0px rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
  text-decoration: underline;
}

#supportHero input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 85px;
}